<hr />
<span style="font-size:2em">Decorations</span>
<div >
&lt;sample01&gt; ------------------------<br/>
<app-sample01></app-sample01>
</div>

<div >
&lt;sample02&gt; ------------------------<br/>
<app-sample02></app-sample02>
</div>

<div >
&lt;sample03&gt; ------------------------<br/>
<app-sample03></app-sample03>
</div>

<hr />
<span style="font-size:2em">Events</span>
<div >
&lt;sample04&gt; ------------------------<br/>
<app-sample04></app-sample04>
</div>

<hr />
<span style="font-size:2em">Service samples</span>
<div >
&lt;sample05&gt; ------------------------<br/>
<app-sample05></app-sample05>
</div>
<div >
&lt;sample06&gt; ------------------------<br/>
<app-sample06></app-sample06>
</div>

<hr />
<span style="font-size:2em">Router samples</span>
<div>
    Check out Router example <a href="#" routerLink="/router">here</a>
</div>
<div>
    <router-outlet></router-outlet>
</div>
